@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');


*{
    box-sizing:border-box;
}


body{

    margin:0;

    font-family:"Inter",Arial,sans-serif;

    color:#111;

    background:#fafafa;

    background-image:
    linear-gradient(#00000008 1px,transparent 1px),
    linear-gradient(90deg,#00000008 1px,transparent 1px);

    background-size:32px 32px;

}



/* HEADER */

header,
.nav{

    height:75px;

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:0 70px;

    background:white;

    border-bottom:1px solid #ddd;

}



.logo{

    font-size:22px;

    font-weight:800;

}



/* контейнер */


.container{

    max-width:1100px;

    margin:auto;

    padding:70px 20px;

}



/* текст */


h1{

    font-size:72px;

    line-height:.95;

    font-weight:900;

    letter-spacing:-3px;

    margin:30px 0;

}



h2{

    font-size:36px;

    font-weight:800;

}



p{

    font-size:18px;

    color:#666;

}



/* кнопки */


button,
.btn{

    background:#111;

    color:white;

    border:none;

    padding:15px 30px;

    border-radius:999px;

    font-size:16px;

    font-weight:700;

    text-decoration:none;

    display:inline-flex;

    align-items:center;

    justify-content:center;

    transition:.25s;

}


button:hover,
.btn:hover{

    transform:translateY(-3px);

}



/* белая кнопка */


.btn-white{

    background:white;

    color:#111;

    border:1px solid #ddd;

}




/* карточки */


.card{

    background:white;

    border:1px solid #ddd;

    border-radius:30px;

    padding:35px;

}



/* ADMIN */


.ticket-card{

    background:white;

    border:1px solid #ddd;

    border-radius:30px;

    padding:35px;

    margin:20px 0;

}



.ticket-card:hover{

    transform:translateY(-3px);

    transition:.2s;

}





/* CHAT */


.chat{

    display:flex;

    flex-direction:column;

    gap:12px;

}



.message{

    padding:15px 20px;

    border-radius:20px;

    max-width:70%;

    background:#eee;

}


.message.user{

    background:#111;

    color:white;

    align-self:flex-end;

}



.message.admin{

    align-self:flex-start;

}





textarea,
input{

    width:100%;

    padding:15px;

    border-radius:18px;

    border:1px solid #ddd;

    font-family:inherit;

}





/* MOBILE */


@media(max-width:768px){


header,
.nav{

    padding:0 20px;

    height:auto;

    min-height:70px;

}



.container{

    padding:40px 15px;

}



h1{

    font-size:42px;

    letter-spacing:-1px;

}



h2{

    font-size:28px;

}



.card,
.ticket-card{

    padding:20px;

    border-radius:22px;

}



button,
.btn{

    width:100%;

}



.message{

    max-width:90%;

}


}
