<!DOCTYPE html>

<html>

<head>

<title>
RI Studio Admin
</title>


<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>


<body>



<header class="header">

<div class="logo">
RI Studio Admin
</div>


</header>





<section class="hero">


<div class="badge">

● ADMIN ACCESS

</div>




<h1>

Вход<br>
в панель управления.

</h1>




<p>

Введите ваш ID администратора для доступа.

</p>





<div class="support">


<h2>

🔐 Авторизация

</h2>



<form method="post">


<input
name="id"
placeholder="Ваш ID"
required
style="
width:100%;
padding:15px;
border-radius:20px;
border:1px solid #ddd;
font-size:16px;
"
>


<br><br>


<button class="primary">

Войти

</button>


</form>


</div>




</section>



</body>

</html>