<!DOCTYPE html>
<html lang="ru">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
RI Studio Admin Login
</title>


<link rel="stylesheet" href="/static/style.css">


</head>



<body>



<header class="header">


<div class="logo">

RI Studio Admin

</div>


<div class="header-actions">


<a class="btn btn-light"
href="/">

← Назад

</a>


</div>


</header>








<main class="container fade">



<div class="badge">

• ADMIN ACCESS

</div>





<h1>

Вход<br>

администратора.

</h1>





<p>

Введите ваш ID администратора для доступа к панели.

</p>







<section class="card"
style="max-width:500px;">



<h2>

🔐 Авторизация

</h2>





<form method="POST"
action="/admin/login">



<input

type="number"

name="id"

placeholder="ID администратора"

required

>





<br><br>




<button class="btn">

Войти в панель →

</button>




</form>




</section>







</main>





</body>

</html>
