<!DOCTYPE html>
<html lang="ru">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>RI Studio Admin Ticket</title>

<link rel="stylesheet" href="/static/style.css">

</head>



<body>



<header class="header">


<div class="logo">

RI Studio Admin

</div>



<div class="header-actions">


<a class="btn btn-light"
href="/admin">

← Назад

</a>


<a class="btn btn-light"
href="/admin/stats">

📊 Статистика

</a>


</div>


</header>








<main class="container fade">



<div class="badge">

ADMIN • TICKET #{{ticket.id}}

</div>





<h1>

Обращение<br>

пользователя.

</h1>







<section class="card">



<h2>

Информация

</h2>



<p>

👤 Пользователь:

<b>

{{ticket.user}}

</b>

</p>




<p>

📌 Тема:

<b>

{{ticket.title}}

</b>

</p>




<p>

Статус:

<b>

{{ticket.status}}

</b>

</p>



</section>









<section class="card">



<h2>

💬 Ответ пользователю

</h2>





<div id="chat"
class="chat">

</div>







<form id="adminForm">



<textarea

id="text"

placeholder="Ответ пользователю..."

></textarea>



<br>



<button class="btn">

Отправить ответ

</button>



</form>



</section>









{% if ticket.status != "Закрыт" %}


<section class="card">



<h2>

🔒 Завершение

</h2>



<p>

После закрытия пользователь сможет оставить оценку поддержки.

</p>




<a class="btn"
href="/admin/close/{{ticket.id}}">

Закрыть тикет

</a>



</section>



{% endif %}








</main>









<script>


let ticketId={{ticket.id}};


let lastId=0;



async function loadMessages(){


let res =
await fetch(
"/messages/"+ticketId
);


let data =
await res.json();



let chat =
document.getElementById("chat");



data.forEach(msg=>{


if(msg.id<=lastId)

return;



lastId=msg.id;



let div =
document.createElement("div");



div.className="message";



if(msg.sender.includes("Иван")
|| msg.sender.includes("Никита")){


div.classList.add("admin");


}


else if(msg.sender=="Пользователь"){


div.classList.add("user");


}

else{


div.classList.add("system");


}





div.innerHTML=

`

<b>${msg.sender}</b>

<br>

${msg.text}

<br>

<small>${msg.created || ""}</small>

`;



chat.appendChild(div);



});



chat.scrollTop =
chat.scrollHeight;


}



setInterval(
loadMessages,
2000
);



loadMessages();








document
.getElementById("adminForm")
.addEventListener(
"submit",

async e=>{


e.preventDefault();



let text =
document.getElementById("text");



if(!text.value)

return;



await fetch(

"/admin/ticket/"+ticketId,

{

method:"POST",

headers:{

"Content-Type":
"application/x-www-form-urlencoded"

},

body:

"text="+encodeURIComponent(text.value)

}

);



text.value="";



}

);



</script>



</body>

</html>
