<!DOCTYPE html>

<html>

<head>

<title>
RI Studio Admin Ticket
</title>


<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


<style>


#chat{

display:flex;

flex-direction:column;

gap:12px;

max-height:500px;

overflow-y:auto;

padding:10px;

}



.message{

background:#fafafa;

border:1px solid #ddd;

padding:15px;

border-radius:20px;

animation:show .3s ease;

}



.system{

background:#111;

color:white;

}



@keyframes show{


from{

opacity:0;

transform:translateY(15px);

}


to{

opacity:1;

transform:translateY(0);

}


}



</style>


</head>


<body>




<header class="header">


<div class="logo">

RI Studio Admin

</div>



<div class="nav">


<a href="/admin">

<button>

← Назад

</button>

</a>



<a href="/">

<button>

Главный сайт

</button>

</a>



</div>


</header>







<section class="hero">



<div class="badge">

● TICKET #{{ticket.id}}

</div>





<h1>

{{ticket.title}}

</h1>




<p>

Пользователь:

<b>

{{ticket.user}}

</b>

</p>



<p>

Статус:

<b>

{{ticket.status}}

</b>

</p>







<div class="support">


<h2>

💬 Чат

</h2>





<div id="chat">

</div>







<form id="form">


<textarea

id="text"

placeholder="Ответ пользователю"

style="
width:100%;
height:110px;
padding:15px;
border-radius:20px;
border:1px solid #ddd;
resize:none;
font-size:16px;
"

></textarea>



<br><br>



<button class="primary">

Отправить

</button>



</form>






<a href="/admin/close/{{ticket.id}}"

class="primary"

style="
display:inline-block;
margin-top:20px;
text-decoration:none;
"

>

🔒 Завершить тикет

</a>






</div>




</section>







<script>


let id={{ticket.id}};


let last=0;



async function load(){


let r=await fetch(
"/messages/"+id
);



let data=await r.json();



let chat=document
.getElementById("chat");



data.forEach(m=>{


if(m.id<=last)

return;



last=m.id;



let div=document.createElement("div");


div.className="message";



if(m.sender=="Система"){

div.classList.add("system");

}



div.innerHTML=

`

<b>
${m.sender}
</b>

<br>

${m.text}

<br>

<small>
${m.date}
</small>

`;



chat.appendChild(div);



});



chat.scrollTop=
chat.scrollHeight;



}




setInterval(
load,
2000
);



load();







document
.getElementById("form")
.addEventListener(
"submit",

async e=>{


e.preventDefault();



let input=document
.getElementById("text");



let text=input.value;



if(!text)

return;



await fetch(

"/admin/ticket/"+id,

{

method:"POST",

headers:{

"Content-Type":
"application/x-www-form-urlencoded"

},


body:

"text="+encodeURIComponent(text)

}

);



input.value="";


});



</script>





</body>

</html>