<!DOCTYPE html>
<html lang="ru">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>
RI Studio Support
</title>


<link rel="stylesheet" href="/static/style.css">


</head>




<body>




<header class="header">


<div class="logo">

RI Studio Support

</div>




<div class="header-actions">


<a class="btn btn-light"
href="/">

← Назад

</a>



<a class="btn"
href="https://ri-studio-games.onrender.com/">

Сайт

</a>



</div>


</header>








<main class="container fade">



<div class="badge">

• NEW TICKET

</div>





<h1>

Создать<br>

обращение.

</h1>





<p>

Опишите проблему.
Команда RI Studio ответит вам.

</p>









<section class="card"
style="max-width:650px;">





<form method="POST"
action="/create_ticket">






<label>

Ваше имя

</label>


<br>



<input

name="user"

placeholder="Введите имя"

required

>





<br><br>





<label>

Тема обращения

</label>



<br>



<input

name="title"

placeholder="Например: ошибка в игре"

required

>






<br><br>






<label>

Категория

</label>



<br>



<select name="reason">


<option>
Техническая проблема
</option>


<option>
Ошибка игры
</option>


<option>
Предложение
</option>


<option>
Другое
</option>


</select>






<br><br>





<label>

Описание проблемы

</label>



<br>



<textarea

name="description"

placeholder="Расскажите подробнее..."

required

></textarea>







<br><br>





<button class="btn">

Создать тикет →

</button>






</form>






</section>







</main>





</body>

</html>
