<!DOCTYPE html>

<html>

<head>

<title>
RI Studio Support
</title>


<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>


<body>



<header class="header">


<div class="logo">

RI Studio

</div>



<div class="nav">


<a href="https://ri-studio-games.onrender.com/" target="_blank">

<button>

Главный сайт

</button>

</a>



<a href="/admin/login">

<button>

Админ

</button>

</a>


</div>


</header>







<section class="hero">



<div class="badge">

● О НАС И ПОДДЕРЖКА

</div>





<h1>

Привет, мы — RI Studio.<br>

Поддержка команды.

</h1>





<p>

Создайте обращение, опишите проблему и получите ответ от нашей команды.

</p>






<div class="buttons">



<a href="https://ri-studio-games.onrender.com/"

class="secondary">

Главный сайт

</a>





<a href="/create"

class="primary">

Перейти в поддержку

</a>



</div>







<div class="support">


<h2>

💬 Поддержка

</h2>



<p>

Создайте новый тикет для связи с командой.

</p>



<a href="/create"

class="primary">

Создать тикет →

</a>



</div>







</section>





</body>

</html>