<!DOCTYPE html>
<html lang="ru">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>RI Studio Support</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<header class="header">


<div class="logo">
RI Studio
</div>


<div class="header-actions">


<a class="btn btn-light"
href="https://ri-studio-games.onrender.com/">
Главный сайт
</a>


<a class="btn"
href="/admin/login">
Админ
</a>


</div>


</header>





<main class="container fade">



<div class="badge">

• О НАС И ПОДДЕРЖКА

</div>



<h1>

Привет, мы — RI Studio.<br>

Поддержка команды.

</h1>




<p>

Создайте обращение, опишите проблему
и получите ответ от нашей команды.

</p>




<div class="actions">


<a class="btn btn-light"
href="https://ri-studio-games.onrender.com/">

Главный сайт

</a>



<a class="btn"
href="/create">

Перейти в поддержку

</a>


</div>







<section class="card support-card">



<h2>

💬 Центр поддержки

</h2>



<p>

Есть вопрос или проблема?

Создайте тикет и мы ответим.

</p>




<a class="btn"
href="/create">

Создать обращение →

</a>




</section>





</main>


</body>

</html>
