<!DOCTYPE html>
<html lang="ru">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>
RI Studio Statistics
</title>


<link rel="stylesheet" href="/static/style.css">


</head>




<body>




<header class="header">


<div class="logo">

RI Studio Admin

</div>




<div class="header-actions">


<a class="btn btn-light"
href="/admin">

← Назад

</a>


<a class="btn"
href="/">

Сайт

</a>


</div>


</header>









<main class="container fade">



<div class="badge">

• ADMIN STATISTICS

</div>





<h1>

Статистика<br>

поддержки.

</h1>







<section class="admin-grid">






<div class="admin-box">


<h2>

👥

</h2>


<h3>

Пользователи

</h3>



<p style="font-size:45px;font-weight:900;color:#111;">

{{users}}

</p>



</div>








<div class="admin-box">


<h2>

📩

</h2>



<h3>

Всего тикетов

</h3>



<p style="font-size:45px;font-weight:900;color:#111;">

{{tickets}}

</p>



</div>








<div class="admin-box">


<h2>

✅

</h2>



<h3>

Закрыто

</h3>



<p style="font-size:45px;font-weight:900;color:#111;">

{{closed}}

</p>



</div>







</section>









<section class="card"
style="margin-top:40px;">



<h2>

RI Studio Support

</h2>



<p>

Здесь отображается общая информация
о работе поддержки.

</p>



</section>








</main>






</body>

</html>
